extends layout/main

block variables
  - var pageClass = "index-page"
  - var title = "Главная страница. G-RP Assistant"

block content
  main(class=pageClass)
    include pages/index/promo.pug
    include pages/index/about.pug
    include pages/index/statistics.pug
    include pages/index/subscribe.pug
