extends layout/main

block variables
  - var pageClass = "registration-page"
  - var title = "Регистрация. G-RP Assistant"

block content
  main(class=pageClass)
    include pages/registration/registration.pug
