.promo {
  background: url("../img/promo-background.jpg") no-repeat;
  background-size: cover;
  color: $white;
}

.promo__container {
  padding: 123px 0 278px 0;
}

.promo__heading {
  font-weight: 900;
  font-size: 35px;
  line-height: 52px;
  margin-bottom: 24px;
}

.promo__paragraph {
  width: 33%;
  margin-bottom: 54px;
}

.promo__buttons {
  display: flex;
}

.promo__button {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  padding: 12px 23px;
  border-radius: 4px;

  &--add {
    background: $white;
    color: #476cea;
    margin-right: 21px;
  }

  &--tune {
    background: $black;
    color: $white;
  }
}
