section.about
  .container
    .about__container
      .about__wrapper
        img.about__illustration(src="img/index/about/minimum-delay.svg" alt="Минимальная задержка отправки команд" width="523" height="409")
        .about__content
          h2.about__heading.
            Минимальная задержка
            отправки команд
            для вашей эконмии
          p.about__paragraph.
            Сервер на котором содержится бот позволяет почти
            не ждать, что очень сильно упрощает работу с ним,
            и конечно же экономит ваше время.
      .about__wrapper
        .about__content
          h2.about__heading.about-heading.
            Гибкая настройка
            индивидуально для
            вашей беседы
          p.about__paragraph.
            Возможности нашего бота позволяют вам настроить
            бота по вашим запросам, затрагивая почти каждый
            элемент, начиная от настройки прав модераторов
            и заканчивая отправкой сообщений.
            Мы пишем весь сложный код за вас.
        img.about__illustration(src="img/index/about/flexible-setting.svg" alt="Гибкая настройка" width="432" height="344")
      .about__wrapper
        img.about__illustration(src="img/index/about/statistics.svg" alt="Автономная статистика" width="563" height="470")
        .about__content
          h2.about__heading.
            Статистика которая
            собирается автономно,
            ведь так проще?
          p.about__paragraph.
            Статистика является неотъемлемой частью в беседе
            ведь так намного проще узнать что интересно вашим
            участникам, и даже делать какие-либо мероприятия
            в час-пик, который вы можете выяснить в нашем боте
            который расчитывает информацию автоматически,
            а вручную вы бы потратили намного больше времени.
