.promo
  .container
    .promo__container
      h1.promo__heading G-RP ASSISTANT
      p.promo__paragraph.
        Уникальный чат бот позволяющий до мельчайших
        деталей настроить свою беседу, и получать по запросу
        необходимую статистику чтобы регулировать приток
        новых людей и не отставать от других по активу
      .promo__buttons
        a.promo__button.promo__button--add(href="#") Добавить бота
        a.promo__button.promo__button--tune(href="#") Настроить бота
