.statistics
  .container
    .statistics__container
      h2.statistics__heading Уже много людей используют нашего бота
      p.statistics__paragraph.
        Функциональность нашего бота позволяет выполнять все функции которые требуются для
        пользователей, если вы еще не убедились в этом, то самое время увидеть сколько бесед
        используют нашего бота для управления беседами.
      ul.statistics__list
        li.statistics__item
          svg.page-header__svg(width="53" height="52" viewBox="0 0 53 52")
            use(xlink:href="img/sprite.svg#people")
          .statistics__content
            h3.statistics__number 27
            p.statistics__description Людей используют бота
        li.statistics__item
          svg.page-header__svg(width="48" height="44" viewBox="0 0 48 44")
            use(xlink:href="img/sprite.svg#inquiries")
          .statistics__content
            h3.statistics__number 10
            p.statistics__description Бесед с ботом активно
        li.statistics__item
          svg.page-header__svg(width="53" height="52" viewBox="0 0 53 52")
            use(xlink:href="img/sprite.svg#conversations")
          .statistics__content
            h3.statistics__number 165314
            p.statistics__description Обработано запросов ботом
        li.statistics__item
          svg.page-header__svg(width="53" height="52" viewBox="0 0 53 52")
            use(xlink:href="img/sprite.svg#time")
          .statistics__content
            h3.statistics__number 363
            p.statistics__description Дней безперебойной работы

