section.subscribe
  .container
    .subscribe__container
      .subscribe__wrapper
        h2.subscribe__heading А ты много упускаешь, попробуй лучше на деле
        .subscribe__buttons
          a.subscribe__button.subscribe__button--plug(href="#") Подключить бота
          a.subscribe__button.subscribe__button--subscribe(href="#") Подписаться на группу
        .subscribe__persons
          picture.subscribe__person
            source(type="image/webp" srcset="img/index/subscribe/person1.webp")
            img(src="img/index/subscribe/person1.png" alt="Аватарка" width="57" height="57")
          picture.subscribe__person
            source(type="image/webp" srcset="img/index/subscribe/person2.webp")
            img(src="img/index/subscribe/person2.png" alt="Аватарка" width="60" height="60")
          picture.subscribe__person
            source(type="image/webp" srcset="img/index/subscribe/person3.webp")
            img(src="img/index/subscribe/person3.png" alt="Аватарка" width="60" height="60")
          picture.subscribe__person
            source(type="image/webp" srcset="img/index/subscribe/person4.webp")
            img(src="img/index/subscribe/person4.png" alt="Аватарка" width="60" height="60")
          picture.subscribe__person
            source(type="image/webp" srcset="img/index/subscribe/person5.webp")
            img(src="img/index/subscribe/person5.png" alt="Аватарка" width="60" height="60")
      svg.subscribe__illustration(width="351" height="338" viewBox="0 0 351 338")
        use(xlink:href="img/sprite.svg#subscribe-illustration")
