.page-footer {
  background: #25292c;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.page-footer__container {
  color: $white;
  padding: 38px 0 28px 0;
  display: grid;
}

.page-footer__wrapper {
  display: flex;
  gap: 140px;
  margin-bottom: 70px;
}

.page-footer__copyright {
  font-size: 13px;
  line-height: 19px;
  margin: 0 auto;
  opacity: 0.15;
}

.page-footer__heading {
  color: $blue;
  font-weight: 500;
  margin-bottom: 10px;
}

.page-footer__list {
  list-style-type: none;
}

.page-footer__link {
  color: $white;
  text-decoration: none;
  margin-bottom: 15px;
  padding: 5px 0;
}

.page-footer__link-mail {
  text-decoration: none;
  color: $blue;
}
