.page-header {
  background: $blue;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__list {
  list-style-type: none;
  display: flex;
  margin: 0 -18px;
}

.page-header__item {
  margin: 0 18px;
  transition: 0.3s border-bottom ease-in;

  &:hover {
    border-bottom: 2px solid $white;
  }
}

.page-header__link {
  text-decoration: none;
  color: $white;
  opacity: 0.6;
  transition: 0.3s background ease-in;
  padding: 31px 14px;
  display: block;
  font-weight: 500;

  &:hover {
    opacity: 1;
    padding: 30px 14px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0 0 4px 4px;
  }
}

.page-header__user {
  display: flex;
  align-items: center;
}

.page-header__entry {
  color: $white;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 24px 11px 51px;
  background: $black no-repeat;
  border-radius: 4px;
  background-image: url("../img/login.svg");
  background-position: 20px center;
  transition: 0.3s background-color ease-in;

  &:hover {
    background-color: darken($black, 5%);
  }
}

.page-header__button-theme {
  margin-right: 46px;
  background: none;
  border: none;
  fill: $white;
  transition: 0.3s opacity ease-in;

  &:hover {
    opacity: 0.8;
  }
}
