.services__container {
  position: relative;
  padding: 117px 0 130px 0;
}

.services__heading {
  font-weight: 900;
  font-size: 35px;
  line-height: 55px;
  margin-bottom: 16px;
}

.services__paragraph {
  font-size: 15px;
  line-height: 24px;
  width: 44%;

  &--commands {
    margin-bottom: 24px;
  }

  &--donate {
    margin-bottom: 105px;
  }
}

.services__illustration {
  position: absolute;
  top: 73px;
  right: 128px;
}

.services__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.services__item {
  border-radius: 10px;
  padding: 20px 10px 20px 20px;

  &--commands {
    background: rgba(73, 101, 238, 0.15);
  }

  &--donate {
    background: rgba(238, 172, 73, 0.15);
  }
}

.services__name {
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.services__description {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 19px;
}

.services__button {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  border-radius: 4px;
  padding: 13px 40px;
  color: $white;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s background ease-in;

  &--commands {
    background: $blue;

    &:hover {
      background: lighten($blue, 5%);
    }
  }

  &--donate {
    background: #eeac49;

    &:hover {
      background: lighten(#eeac49, 5%);
    }
  }
}
