footer.page-footer
  .container
    .page-footer__container
      .page-footer__wrapper
        .page-footer__contacts
          h4.page-footer__heading Контакты
          ul.page-footer__list
            li.page-footer__item
              a.page-footer__link(href="#") Группа Вконтакте
            li.page-footer__item
              a.page-footer__link(href="#") Группа Вконтакте
            li.page-footer__item
              a.page-footer__link(href="#") Группа разработчика
            li.page-footer__item
              p.page-footer__link Почта:
                a.page-footer__link-mail(href="mailto:main@volkdev.ru")  main@volkdev.ru
        .page-footer__general
          h4.page-footer__heading Общее
          ul.page-footer__list
            li.page-footer__item
              a.page-footer__link(href="statistics.html") Статистика
            li.page-footer__item
              a.page-footer__link(href="rating.html") Рейтинг
            li.page-footer__item
              a.page-footer__link(href="commands.html") Команды
        .page-footer__donations
          h4.page-footer__heading Пожертвования
          ul.page-footer__list
            li.page-footer__item
              a.page-footer__link(href="#") Добровольное пожертвование
            li.page-footer__item
              a.page-footer__link(href="#") Покупка уникальных команд
      p.page-footer__copyright VOLK Development все права защищены 2021
