header.page-header
  .container
    .page-header__container
      a.page-header__logo(href=pageClass==="index-page" ? false: "index.html")
        img(src="img/logo.svg" alt="Логотип G-RP Assistant" width="39" height="38")
      nav.page-header__navigation
        ul.page-header__list
          li.page-header__item
            a.page-header__link(href="index.html") Главная
          li.page-header__item
            a.page-header__link(href="commands.html") Команды
          li.page-header__item
            a.page-header__link(href="rating.html") Общий рейтинг
          li.page-header__item
            a.page-header__link(href="services.html") Услуги
          li.page-header__item
            a.page-header__link(href="help.html") Помощь
      .page-header__user
        button.page-header__button-theme
          svg.page-header__svg(width="15" height="16" viewBox="0 0 15 16")
            use(xlink:href="img/sprite.svg#moon")
        a.page-header__entry.button-entry(href="registration.html") Вход/Регистрация
