.registration {
  position: relative;

  &::after {
    content: "";
    width: 48%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: $light-blue;
  }
}

.registration__heading {
  font-weight: 900;
  font-size: 35px;
  line-height: 55px;
  margin-bottom: 12px;
}

.registration__container {
  display: flex;
  position: relative;
}

.registration__illustration {
  left: -24px;
  top: 106px;
  position: absolute;
  z-index: 2;
}

.registration__wrapper {
  margin-left: auto;
  width: 41%;
  padding: 108px 0 218px 0;
}

.registration__paragraph {
  margin-bottom: 38px;
}

.registration__list {
  position: relative;
  list-style-type: none;
  display: grid;
  gap: 17px;
  width: 100%;
  margin-bottom: 17px;
}

.registration__input {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  color: rgba(35, 39, 42, 0.4);
  border-radius: 5px;
  background: $light-blue;
  border: none;
  padding: 15px 0 15px 52px;
  width: 100%;

  &:focus {
    outline: none;
    border: 2px solid $blue;
    padding: 13px 0 13px 49px;
    color: rgba(35, 39, 42, 0.7);
  }

  &:disabled {
    color: #ff4e4e;
  }
}

.registration__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 28px;
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }

  &--login::before {
    background-image: url("../img/icons/icon-login.svg");
    width: 14px;
    height: 14px;
  }

  &--email::before {
    background-image: url("../img/icons/icon-mail.svg");
    width: 14px;
    height: 11px;
  }

  &--vk::before {
    background-image: url("../img/icons/icon-vk.svg");
    width: 16px;
    height: 16px;
  }

  &--password::before {
    background-image: url("../img/icons/icon-password.svg");
    width: 13.5px;
    height: 13.5px;
  }
}

.registration__button {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $white;
  padding: 15px 60px;
  background: $blue;
  border-radius: 5px;
  border: none;
  margin-bottom: 27px;
  cursor: pointer;
  transition: 0.3s background ease-in;

  &:hover {
    background: lighten($blue, 5%);
  }
}

.registration__cookie {
  opacity: 0.6;
}
