*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  color: $black;
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-size: 15px;
  line-height: 1.6;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 110px;
}

@media (max-width: $mobile-width) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: $tablet-width) {
  .container {
    padding: 0 30px;
  }
}
