section.registration
  .container
    .registration__container
      picture
        source(srcset="img/registration/illustration.webp" type="image/webp")
        img.registration__illustration(src="img/registration/illustration.png" alt="Иллюстрация")
      .registration__wrapper
        .registration__heading Регистрация
        .registration__paragraph.
          Введите свой логин пароль, Email и пароль,
          чтобы зарегистрировать новую учетную запись.
        form.registration__form(action="")
          ul.registration__list
            li.registration__item.registration__item--login
              input.registration__input(type="text" name="login" placeholder="Логин" id="text")
            li.registration__item.registration__item--email
              input.registration__input(type="mail" name="email" placeholder="Почта")
            li.registration__item.registration__item--vk
              input.registration__input(type="text" name="vk" placeholder="ID Вконтакте")
            li.registration__item.registration__item--password
              input.registration__input(type="password" name="password" placeholder="Пароль")
            li.registration__item.registration__item--password
              input.registration__input(type="password" name="password-repeat" placeholder="Подтверждение пароля")
          button.registration__button(type="submit") Зарегистрироваться
          p.registration__cookie.
            Мы используем файлы Cookies для более комфортной работы пользователя.
            Продолжая просмотр, вы соглашаетесь с использованием файлов Cookies.
