.commands__container {
  padding: 117px 0 146px 0;
  position: relative;
}

.commands__heading {
  font-weight: 900;
  font-size: 35px;
  line-height: 55px;
  margin-bottom: 16px;
}

.commands__illustration {
  position: absolute;
  top: 82px;
  right: 89px;
}

.commands__paragraph {
  font-size: 15px;
  line-height: 24px;
  width: 46%;

  &--about {
    margin-bottom: 22px;
  }

  &--donate {
    margin-bottom: 50px;
  }
}

.commands__bold {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.commands__button {
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
  border-radius: 4px;
  line-height: 25px;
  color: $white;
  padding: 13px 22px;
  background: $blue;
  display: inline-block;
  margin-bottom: 71px;
  transition: 0.3s background ease-in;

  &:hover {
    background: lighten($blue, 5%);
  }
}

.commands__subheading {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 26px;
}

.commands__list {
  list-style-type: none;
}

.commands__item {
  padding: 21px 12px;

  &:nth-child(odd) {
    background: rgba(73, 101, 238, 0.15);
    border-radius: 10px;
  }
}

.commands__command {
  font-size: 16px;
  line-height: 24px;
}

.commands__button-show {
  padding: 13px 23px;
  background: $blue;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: $white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s background ease-in;

  &:hover {
    background: lighten($blue, 5%);
  }
}

.commands__moderators,
.commands__rights {
  margin-bottom: 40px;
}
