.commands
  .container
    .commands__container
      h1.commands__heading Команды чат-бота G-RP Assistant
      p.commands__paragraph.commands__paragraph--about.
        Чат-бот имеет в своем распоряжении множество команд которые позволяют
        детально настроить многие аспекты которые нужны будут для приятного
        общения и управления.
      p.commands__paragraph.commands__paragraph--donate.
        Для более детальной настройки вы можете купить
        индивидуально написанные команды только под вашу беседу.
      a.button-entry.commands__button(href="registration.html") Личный кабинет
      svg.commands__illustration(width="300" height="300" viewBox="0 0 300 300")
        use(xlink:href="img/sprite.svg#commands-illustration")
      .commands__moderators
       h3.commands__subheading Команды модерирования
       ul.commands__list
         li.commands__item
           p.commands__command.
            <span class="commands__bold">!kick @id reason</span>
            - команда кикает пользователя с конференции и снимает с него все роли модерирования и индивидуально настроенные.
         li.commands__item
           p.commands__command.
            <span class="commands__bold">!kick @id reason</span>
            - команда кикает пользователя с конференции и снимает с него все роли модерирования и индивидуально настроенные.
         li.commands__item
           p.commands__command.
            <span class="commands__bold">!kick @id reason</span>
            - команда кикает пользователя с конференции и снимает с него все роли модерирования и индивидуально настроенные.
         li.commands__item
           p.commands__command.
            <span class="commands__bold">!kick @id reason</span>
            - команда кикает пользователя с конференции и снимает с него все роли модерирования и индивидуально настроенные.
         li.commands__item
           p.commands__command.
            <span class="commands__bold">!kick @id reason</span>
            - команда кикает пользователя с конференции и снимает с него все роли модерирования и индивидуально настроенные.
         li.commands__item
           p.commands__command.
            <span class="commands__bold">!kick @id reason</span>
            - команда кикает пользователя с конференции и снимает с него все роли модерирования и индивидуально настроенные.
         li.commands__item
           p.commands__command.
            <span class="commands__bold">!kick @id reason</span>
            - команда кикает пользователя с конференции и снимает с него все роли модерирования и индивидуально настроенные.
         li.commands__item
           p.commands__command.
            <span class="commands__bold">!kick @id reason</span>
            - команда кикает пользователя с конференции и снимает с него все роли модерирования и индивидуально настроенные.
         li.commands__item
           p.commands__command.
            <span class="commands__bold">!kick @id reason</span>
            - команда кикает пользователя с конференции и снимает с него все роли модерирования и индивидуально настроенные.
         li.commands__item
           p.commands__command.
            <span class="commands__bold">!kick @id reason</span>
            - команда кикает пользователя с конференции и снимает с него все роли модерирования и индивидуально настроенные.
         li.commands__item
           p.commands__command.
            <span class="commands__bold">!kick @id reason</span>
            - команда кикает пользователя с конференции и снимает с него все роли модерирования и индивидуально настроенные.
         li.commands__item
           p.commands__command.
            <span class="commands__bold">!kick @id reason</span>
            - команда кикает пользователя с конференции и снимает с него все роли модерирования и индивидуально настроенные.
         li.commands__item
           p.commands__command.
            <span class="commands__bold">!kick @id reason</span>
            - команда кикает пользователя с конференции и снимает с него все роли модерирования и индивидуально настроенные.
      .commands__rights
        h3.commands__subheading Команды изменения прав
        button.commands__button-show(type='button') Показать команды
      .commands__statistics
        h3.commands__subheading Команды статистики
        button.commands__button-show(type='button') Показать команды
