.services
  .container
    .services__container
      h1.services__heading Приобретаемые услуги
      p.services__paragraph.services__paragraph--commands.
        За отдельную плату вы можете приобрести дополнительные услуги,
        чтобы улучшить возможности чат-бота именно в вашей беседе.
      p.services__paragraph.services__paragraph--donate.
        Так же вы можете сделать пожертвование,
        деньги полученные с пожертвований пойду на развитие проекта.
      svg.services__illustration(width="300" height="300" viewBox="0 0 300 300")
        use(xlink:href="img/sprite.svg#services-illustration")
      ul.services__list
        li.services__item.services__item--commands
          h3.services__name Уникальная команда
          p.services__description.
            Если вы считаете что вам не достаточно существующих команд в чат-боте.
            За отдельную плату вы можете заказать универсальную команду для пользователя/беседы.
          a.services__button.services__button--commands(href="#") Приобрести
        li.services__item.services__item--donate
          h3.services__name Пожертвование
          p.services__description.
            Если вы считаете что наш проект заслужил ваше доверие и заявил о своей надежности вы можете сделать пожертвование проекту. Деньги полученные с проекта пойдут только на его развитие.
          a.services__button.services__button--donate(href="#") Пожертвовать
